.logo {
  background-image: url('../public/images/yogalogo.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 1.9375rem;
  width: 6rem;
  text-indent: 101%;
  overflow: hidden;
}